<ul class="nav nav-sidebar">
	<li class="active"><a href="/assets/">CMDB <span
			class="sr-only">(current)</span></a></li>
	<li><a href="/assets/">overview</a></li>
	<li><a role="button" data-toggle="collapse"
		data-parent="#accordion" href="#projectManage" aria-expanded="true"
		aria-controls="collapseOne">项目管理</a></li>
	<div id="projectManage" class="panel-collapse collapse in list-group"
		role="tabpanel" aria-labelledby="headingOne">
		<a href="/assets/projects" class="list-group-item"> 项目列表 </a> <a href="/assets/projects/topo"
			class="list-group-item"> 项目拓扑 </a> <a href="#"
			class="list-group-item"> 用户管理 </a>
	</div>
</ul>
<ul class="nav nav-sidebar">
	<li><a role="button" data-toggle="collapse"
		data-parent="#accordion" href="#assetManage" aria-expanded="trues"
		aria-controls="collapseOne">资源池</a></li>
	<div id="assetManage" class="panel-collapse collapse in list-group"
		role="tabpanel" aria-labelledby="headingOne">
		<a href="/assets/hosts" class="list-group-item"> 主机管理 </a> <a href="#"
			class="list-group-item"> 容器管理 </a> <a href="#"
			class="list-group-item"> Api管理 </a>
	</div>
</ul>
<ul class="nav nav-sidebar">
	<li class="active"><a href="">Automation</a></li>
	<li><a href="">执行脚本</a></li>
	<li><a href="">查看playbook</a></li>
	<li><a href="">Another nav item</a></li>
	<li><a href="">More navigation</a></li>
</ul>
<ul class="nav nav-sidebar">
	<li class="active"><a href="">Monitor</a></li>
	<li><a href="">zabbix</a></li>
	<li><a href="http://10.0.80.30:5601/">elk</a></li>
</ul>